body, a[href="#"] {
	cursor: url('LL_Cursor.cur'), auto;
}
 
a[href], input[type="button"], input[type="submit"], button {
    cursor: url('LL_Normal.cur'), auto;
}

p:hover{
  cursor: url('LL_Text.cur'), text;
}