/* 4 video */
@media only screen and (min-aspect-ratio: 32/9) {
	.video4 iframe {
		width: 25%;
	}
	.video4 #video1 {
		left: 0%;
	}
	.video4 #video2 {
		left: 25%;
	}	
	.video4 #video3 {
		left: 50%;
	}		
	.video4 #video4 {
		left: 75%;
	}					
}
@media only screen and (max-aspect-ratio: 32/9) and (min-aspect-ratio: 8/9) {
	.video4 iframe {
		width: 50%;
		height: 50%;
	}
	.video4 #video1 {
		left: 0%;
		top: 0%;
	}
	.video4 #video2 {
		left: 50%;
		top: 0%;
	}	
	.video4 #video3 {
		left: 0%;
		top: 50%;
	}		
	.video4 #video4 {
		left: 50%;
		top: 50%;
	}									
}
@media only screen and (max-aspect-ratio: 8/9) {
	.video4 iframe {
		height: 25%;
	}
	.video4 #video1 {
		top: 0%;
	}
	.video4 #video2 {
		top: 25%;
	}	
	.video4 #video3 {
		top: 50%;
	}		
	.video4 #video4 {
		top: 75%;
	}							
}