/* 3 video */
@media only screen and (min-aspect-ratio: 8/3) {
	.video3 iframe {
		width: calc(100% / 3);
	}
	.video3 #video1 {
		left: 0%;
	}
	.video3 #video2 {
		left: calc(100% / 3);
	}	
	.video3 #video3 {
		left: calc(200% / 3);
	}				
}
@media only screen and (max-aspect-ratio: 8/3) and (min-aspect-ratio: 32/27) {
	.video3 iframe {
		width: 50%;
		height: 50%;
	}
	.video3 #video1 {
		left: 0%;
		top: 0%;
	}
	.video3 #video2 {
		left: 50%;
		top: 0%;
	}	
	.video3 #video3 {
		left: 25%;
		top: 50%;
	}						
}
@media only screen and (max-aspect-ratio: 32/27) {
	.video3 iframe {
		height: calc(100% / 3);
	}
	.video3 #video1 {
		top: 0%;
	}
	.video3 #video2 {
		top: calc(100% / 3);
	}	
	.video3 #video3 {
		top: calc(200% / 3);
	}						
}