/* 2 video */
@media only screen and (min-aspect-ratio: 16/9) {
	.video2 iframe {
		width: 50%;
	}
	.video2 #video1 {
		left: 0%;
	}
	.video2 #video2 {
		left: 50%;
	}
	
}
@media only screen and (max-aspect-ratio: 16/9) {
	.video2 iframe {
		height: 50%;
	}
	.video2 #video1 {
		top: 0%;
	}
	.video2 #video2 {
		top: 50%;
	}				
}