* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
	font-family: "Microsoft YaHei UI Light", "Microsoft YaHei UI", sans-serif;
}
body {
	margin: 65px 15px 0 15px;
}
.llbtn:hover {
    background-color: #e6e6e6;
}
.llbtn {
    border-color: #ffffff;
    border-radius: 15px;
    color: #ffffff;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 10px 16px;
	display: block;
	font-size: 18px;
    line-height: 1.3333333;
	margin-top: 10px;
    width: 130px;
}
.sllbtn:hover {
    background-color: #e6e6e6;
}
.sllbtn {
    border-color: #ffffff;
    border-radius: 7.5px;
    color: #ffffff;
    text-align: left;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 5px 16px;
	display: block;
	font-size: 9px;
    line-height: 0.6666666;
	margin-top: 5px;
    width: 130px;
}
#toolbox {
	overflow: hidden;
    position: fixed;
    z-index: 347;
    width: 134px;
    height: 210px;
    right: 44px;
    bottom: 26px;
}
#top_bar {
	margin: -65px -15px 0 -15px;
	color:white;
	height:50px;
	width:100%;
	position:fixed;
	font-size: 18px;
	line-height: 20px;
	padding: 15px 15px;
	z-index: 1234;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a.white_link {
	color: #ffffff;
}
#function {
	color:white;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-weight: 900;
	font-size: 16px;
	font-family: 'Glyphicons Halflings';
	padding: 17px 17px 17px 17px;
	line-height: 16px;
	z-index: 577;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
		border-radius: 999px;
		border: 1px solid #444444;
		background-color: #444444;
	}
	::-webkit-scrollbar-track {
		box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
	}
	::-webkit-scrollbar-thumb {
		min-height: 20px;
		background-clip: content-box;
		background-color: #ffbb2b;
	}
	::-webkit-scrollbar-corner {
		background: transparent;
	}
}